@import url('./styles/custom-scroll-bar.css');
/* All the configs & default css here */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --family-primary: 'Circular Std';
  --family-secondary: 'Circular Std Book';

  --color-primary: #19d3c5;
  --color-primary-300: #c0ece9;
  --color-primary-light: #d4efed;
  --color-secondary: #2d2d2d;
  --color-secondary-light: #2d2d2d33;
  --color-white: rgba(255, 255, 255, 0.87);

  --color-gray: #797979;
  --color-gray-400: #bcbbbb;
  --color-gray-150: #eeeeee;
  --color-gray-100: #f6f6f6;
  --color-dark-gray: #404040;
  --color-dark-gray-100: #7777771a;

  --color-warning-300: #fff6d9;
  --color-warning-400: #fbe6a2;
  --color-warning-500: #ffd95a;
  --color-warning-600: #ffcb1f;

  --color-danger-500: #ef4823;
  --base-font-size: 16px;
  --base-line-height: 1.3;
  --base-spacing: 1rem;
}

body,
html {
  font-family: var(--family-primary);
  font-size: var(--base-font-size);
  line-height: --base-line-height;

  background-color: var(--color-secondary);

  color: var(--color-white);
  overflow-x: hidden;

  box-sizing: border-box;

  scroll-behavior: smooth;

  margin: 0;
}

p {
  font-family: var(--family-secondary);
  line-height: 1.3;
}
